*,p{
	margin: 0px; padding: 0px;
	font-family: 'Roboto', sans-serif;
}
/*code phần header*/
.header {
	/*display: block;*/
	width: 100%;
	height: 140px;
}
.header .logo{
/*	height: 140px;*/
	display: flex;
	align-items: center;
}
.header .header1{
	height: 140px;
	display: inline-flex;
	align-items:center;
}
.header .header1 img{
	width: 35px;
	height: 25px;
}
.to1{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}
.header .header2{
	height: 140px;
	display: flex;
	align-items: center;
}
.to2{
	padding-left: 10px;
}
.header .header3{
	height: 140px;
	display: flex;
	align-items: center;
}
.to3{
	display: flex;
	flex-direction: column;
	padding-left: 10px;
}
/*end phần header*/
/*code phần toolbar*/
.toolbar{
	height: 60px;
	background-color: #25241D;
}
.toolbar .bentrai{
}
.toobar .bentrai ul{
	list-style-type: none;
	margin: 0px;
	overflow: auto;
}
.toolbar .bentrai  ul li{
	display: inline-block;
	float: left;
}
.toolbar .bentrai  ul li:hover a{
	text-decoration: none;
}
.toolbar .bentrai  ul li a{
	display: inline-block;
	padding: 0px 30px;
	color: #fff;
	font-size: 14px;
	transition: 0.5s;
}
.toolbar .bentrai  ul li a.home{
	background-color: #E41E24;
	padding: 19px;
	margin-top : -16px;
}
/*end code toolbar bên trái*/
.toolbar .benphai{
	padding: 15px 0px;
}
.toolbar .benphai .search-box{
	padding: 0px 15px;
	background-color:#E41E24; 
	border-radius: 20px;
}
.toolbar .benphai .search-box input{
	border: none;
	background-color: transparent;
	height: 30px;
	width: 75%;
	margin-left: 10px;
	outline: none;
	color: #fff;
}
.toolbar .benphai .search-box button{
	border: none;
	background-color: transparent;
	margin-left: 15px;
	color: #fff;
}
.search-box input::placeholder{
	color: #fff;
}
/*end code toolbar bên phải */
/*end code toolbar*/
footer{
	height: 350px;
	margin-top:30px;
	background-color: black;
}
.footer {
	padding:60px 0px 30px;
	background-color: #f1f1f1;
}
.footer .footer1 {
	margin-top :-10px
}
.footer .footer-ele .title{
	font-weight: 700;
	text-transform: uppercase;
}
.footer .footer-ele hr{
	border-top : 3px solid #E41E24;
	margin: -10px 0px 20px;
    width: 10%; 
}
.footer ul{
	list-style-type: none;
	font-size: 16px;
}
div.footer div.footer1 ul li{
	overflow: auto;
}
div.footer div.footer1 ul li .icon{
	display: inline-block;
	float: left;
	margin-right: 15px;
	color: #e41e24;
	font-size: 20px;
}
div.footer div.footer1 ul li p.text{
	display: inline-block;
	color: #6a6a6a;
	font-size: 14px;
}
div.footer div.footer1 ul li .text-hour{
	color: #6a6a6a;
    display: block;
    font-size: 14px;
    font-weight: 700;
}
/*end div.footer div.footer1*/
div.footer div.footer2{
	margin-top:-10px;
}
div.footer div.footer2 hr{
	width: 20%;
} 
div.footer div.footer2 ul li{
	line-height: 40px;
}
div.footer div.footer2 ul li a{
	display: inline-block;
	color: #6a6a6a;
}
/*end div.footer div.footer2*/
div.footer div.footer3{
	margin-top:-10px;

}
div.footer div.footer3 .footer3-text1{
	font-size: 10px;
	width: 100%;
	margin-bottom: 20px;
}
div.footer div.footer3 .sub-box{
	overflow: auto;
	margin-bottom: 30px;
}
div.footer div.footer3 input{
	border: 2px solid #e41e24;
	border-radius: 5px 0px 0px 5px;
	outline: none;
	width: 65%;
	padding: 10px 10px;
}
div.footer div.footer3 button{
	border: 2px solid #e41e24;
	background-color: #e41e24;
	padding: 12px 15px;
	border-radius: 0px 5px 5px 0px;
	border: none;
	color: #fff;
	margin-left:-5px; 
}
div.footer div.footer3 .footer3-text2{
	font-weight: 700;
	color: #6a6a6a;
	text-transform: uppercase;
	font-size: 15px;
	margin-top: 60px;
}
div.footer div.footer3 .footer3-icon a li{
	display: inline-block;
	float: left;
	padding: 10px;
	border-radius: 50%;
	margin-right: 20px;
	margin-top:5px;
}
div.footer div.footer3 ul.footer3-icon a li.fb{

	border-radius: 50%;
	padding: 9px 17px 9px 17px;
	background-color: #2065ac;
	color: #f1f1f1;
}
div.footer div.footer3 ul.footer3-icon a li.gg{
	font-size: 50px;
	margin-top:-20px;
	color: #f03a27;
}

div.footer div.footer3 ul.footer3-icon a li.cmr{

	border-radius: 50%;
	padding: 9px 14px 9px 14px;
	background-color: #6e482d;
	color: #f1f1f1;
}
div.footer div.footer3 ul.footer3-icon a li.yt{
	background-color: #d00000;
	color: #f1f1f1;
	padding: 10px 15px 10px 15px;
}
/*end div.footer div.footer3*/
footer div.end-footer{
	background-color: #E41E24;
	text-align: center;
    margin: 0px;
    padding: 30px;
    color: #fff; 
    height: 80px;
}
/*end code footer*/
/*code body*/
section.phanthan div.bentrai div.traitren{
	border: 1px solid black;
	margin-top: 45px;
}
section.phanthan div.bentrai div.traitren ul{
	font-size: 14px;
    box-shadow: 0 0 2px #999;
}
section.phanthan div.bentrai div.traitren ul a{
	text-decoration: none;
}
section.phanthan div.bentrai div.traitren ul a li{
	list-style-type: none;
	outline: none;
	padding-left: 10px;
	margin-left: 25px;
	border-bottom: 2px dotted #e2e2e2;
	line-height: 40px;
	font-weight: 700;
	width: 80%;
	color: #575757;
	position: relative;
	transition: 0.3s;
}
section.phanthan div.bentrai div.traitren ul a li i {
	width: 15px;
	height: 20px;
	position: absolute;
	right: 10px;
	top: 10px;
	color: red;
}
section.phanthan div.bentrai div.traitren ul a:hover li i{
	color: #fff;
	padding-right: 55px;
	transition: 1s;
}
section.phanthan div.bentrai div.traitren ul a:hover li{
	background-color: #e41e24;
	color: #ffffff;
	transition: 0.3s;
	text-decoration: none;
	margin-left: -15px;
 	padding-left: 50px;
 	width: 110%;
	margin-right: -20px;

}
/*end code div.traitren*/
section.phanthan div.bentrai div.traiduoi {
	margin-top: 40px;
	position: relative;
	transition: 0.5s;
}
section.phanthan div.bentrai div.traiduoi:hover button{
	z-index: 1;
	transition: 0.5s;
}
section.phanthan div.bentrai div.traiduoi img {
	width: 100%;
}
section.phanthan div.bentrai div.traiduoi button{
	position: absolute;
	top: 61%;
	left: 30%;
	z-index: -1;
	padding: 12px 25px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 10px;
    border: 1px solid transparent;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s; 
	background-color: #E51E25;
}
section.phanthan div.bentrai div.traiduoi button:hover{
      background-color: #fff;
      border: 1px solid #E51E25;
      color: #E51E25;
}
section.phanthan div.bentrai div.traiduoi button i{
	margin-left: 10px;
}
/*end code body bentrai*/
section.phanthan div.benphai h1{
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	margin-top:40px;
}
section.phanthan div.benphai a.a1{
	display: inline-block;
	font-size: 14px;
	text-decoration: none;
	text-align: center;
	line-height: 20px;
	color: #636363;
}
section.phanthan div.benphai a.a1 div.tong button{
	border: 1px solid transparent;
	padding: 10px 15px 5px 15px;
	border-radius: 20px;
}
*/section.phanthan div.benphai div.hangsau{
	margin-top:30px;
}
/*end code body benphai 2 hang dau*/
button.public{
	border: 1px solid transparent;
	border-radius: 30px;
	padding: 15px 25px 10px 25px;
	background-color: #E51E25;
	color: #fff;
	text-transform: uppercase;
	transition: 0.3s;
	font-weight: 700;
    font-size: 15px;

}
button.public:hover{
	background-color: #fff;
	color: #E51E25;
	transition: 0.3s;
	border: 1px solid #E51E25;
}
section.phanthan div.benphai div.viewall-phai button{
	margin-top:30px;
    position: relative;
    left: 45%;
}
section.phanthan div.benphai div.quangcao div.quangcao1 img{
	margin-top:30px;
	height: 256px;
	width: 100%;
	position: relative;
}
section.phanthan div.benphai div.quangcao div.quangcao1 button{
	position: absolute;
	top: 60%;
	left: 15%;
	font-size: 10px;
	z-index: -1;
	transition: 0.5s;
}
section.phanthan div.benphai div.quangcao div.quangcao1:hover button{
	z-index: 1;
	transition: 0.5s;
}
section.phanthan div.benphai div.quangcao div.quangcao2{
	margin-top:-50px;
	position:relative;
}
section.phanthan div.benphai div.quangcao div.quangcao2 button{
	position: absolute;
	top: 78%;
	left: 15%;
	font-size: 10px;
	z-index: -1;
	transition: 0.5s;
}
section.phanthan div.benphai div.quangcao div.quangcao2:hover button{
	z-index: 1;
	transition: 0.5s;
}
